[user]
	name = chenyongbing
	email = chenyongbing2008@163.com
[alias]
	inlist = "!git remote update -p; git diff --name-status ..@{u}"
	incoming = "!git remote update -p; git log ..@{u}"
	outlist = "!git remote update -p; git diff --name-status @{u}.."
	outgoing = "!git remote update -p; git log @{u}.."
	recpull = !git pull && git submodule update --init --recursive
[commit]
	template = C:/Users/kidd.chen/.git_template/git_commit_message.txt
[core]
	autocrlf = true
	excludesfile = C:\\WorkSpace\\mtt\\dev\\dev1\\production_test_package_capacitive\\.gitignore
	safecrlf = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
